@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    font-family: 'Abril Fatface', cursive;
    
    background-repeat: no-repeat;
    background-size: 170em;
    background-position: center;


}
hr{
    border:red solid 2px;
}
.navlinks li{ 
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
}
.navlinks{
    box-sizing: border-box;
    background-color: rgb(255, 11, 11);
}
h1{
    text-decoration: black solid underline;
}
p{
    text-align: justify;
}



input[type=submit]{
    background-color: chartreuse;
    width:100px
}